@font-face {
    font-family: "pixelated-two";
    src: url("/fonts/pixelated2.ttf")
  }

html {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 700px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    margin: 5px;
    text-align: center;
}

h4 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    width: 600px;
}

#message-para {
    margin: 10px;
    font-weight: normal;
}


/* h4 {
    margin-bottom: 75px;
    margin-top: 50px;
} */



ul {
    margin-top: 2px;
    display: flex;
}

ul li {
    margin: 10px;
    list-style: none;
}

.keyboard {
    font-weight: normal;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vh;
 
}

button.disabled {
    filter: brightness(0.8);
}

button {
    font-size: 35px;
    border-radius: 10px;
    border: outset 3px rgb(71, 71, 71);
}

button.operator {
    background-color: orange;
}

button.function {
    background-color: rgb(201, 201, 201);
    font-size: 25px;
}

button.number {
    background-color: rgb(161, 161, 161);
}

button#equals {
    background-color: rgb(255, 255, 255);
}



#calculator-frame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    grid-template-rows: repeat(6, 1fr);
    border: solid #000000 5px;
    padding: 10px;
    background-color: #555555;
    min-height: 500px;
    width: 400px;
    justify-content: center;
    grid-template-areas:
        "display display display display"
        "clear delete divide multiply"
        "seven eight nine subtract"
        "four five six plus"
        "one two three equals"
        "zero zero decimal equals"
        
}


#text {
    min-height: auto;

}


#display {
    grid-area: display;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    font-size: 40px;
    border: 5px solid;
    background-color: darkolivegreen;
    font-family: pixelated-two;

}





#zero {
    grid-area: zero;    
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#decimal {
    grid-area: decimal;
}

#plus {
    grid-area: plus;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#equals {
    grid-area: equals;
}

#delete {
    grid-area: delete;
}

#clear {
    grid-area: clear;
}
